.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-left: 40px;
}
.error {
  color: red;
  font-size: medium;
  font-weight: 600;
}
.label {
  display: flex;
  flex-direction: column;
}
.span {
  text-align: left;
}
.button {
  width: 200px;
  margin: auto;
  background-color: aquamarine;
}
